@using Microsoft.AspNetCore.Mvc.Localization

@model FamilieLaissIdentity.Models.Account.LoginViewModel

@inject IViewLocalizer Localizer

<div class="login-content">
    <div class="lc-block toggled">
        <form class="lcb-form" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input asp-for="Username" asp-placeholder-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input asp-for="Password" asp-placeholder-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">@Localizer["btn_Login"]</button>
            </div>
            <div class="form-group">
                <p>
                    <a asp-action="ResetPasswordRequest">@Localizer["Question_Forgot_Password"]</a>
                </p>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@Localizer["Question_Register"]</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
