@using Microsoft.AspNetCore.Mvc.Localization

@model FamilieLaissIdentity.Models.Account.LoginViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["View_Title"];
}

<!-- Die spezifischen Styles für die aktuelle Seite einbinden -->
@section Styles {
    <link href="~/css/pages/login-register-lock.css" rel="stylesheet" />
    <link href="~/css/pages/floating-label.css" rel="stylesheet" />
}

<!-- ============================================================== -->
<!-- Preloader - Style befindet sich in spinners.css                -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Pro</p>
    </div>
</div>

<!-- ============================================================== -->
<!-- Login-Form - Style befindet sich in page spezifischem css      -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image: url(/Images/Login_Register_Background_2.jpg)">
    <div class="login-box card">
        <div id="slimscroll_Login" class="card-body">
            <!-- Ausgeben der Überschrift-->
            <h3 class="text-center">@Localizer["View_Heading"]</h3>

            <!-- Ausgeben des Formulars -->
            <form id="formLogin" class="floating-labels m-t-40" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post">
                <!-- Eingabebereich für Benutzername -->
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Username"].Errors.Count > 0)
                {
                    <div class="form-group col-xs-12 m-b-30 has-danger has-error">
                        <input asp-for="Username" class="form-control" />
                        <span class="bar"></span>
                        <label asp-for="Username"></label>
                        <div class="form-control-feedback">@ViewData.ModelState["Username"].Errors.First().ErrorMessage</div>
                    </div>
                }
                else
                {
                    <div class="form-group col-xs-12 m-b-30">
                        <input asp-for="Username" class="form-control" />
                        <span class="bar"></span>
                        <label asp-for="Username"></label>
                    </div>
                }

                <!-- Eingabebereich für Passwort -->
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Password"].Errors.Count > 0)
                {
                    <div class="form-group col-xs-12 m-b-30 has-danger has-error">
                        <input asp-for="Password" class="form-control" />
                        <span class="bar"></span>
                        <label asp-for="Password"></label>
                        <div class="form-control-feedback">@ViewData.ModelState["Password"].Errors.First().ErrorMessage</div>
                    </div>
                }
                else
                {
                    <div class="form-group col-xs-12 m-b-30">
                        <input asp-for="Password" class="form-control" />
                        <span class="bar"></span>
                        <label asp-for="Password"></label>
                    </div>
                }

                <!-- Ausgeben des Links für die Registrierung -->
                <div class="form-group m-b-20">
                    <div class="col-sm-12 text-center">
                        @Localizer["Question_Register"] <a asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-primary m-l-5"><b>@Localizer["Link_Register"]</b></a>
                    </div>
                </div>

                <!-- Ausgeben des Links für die Passwortrücksetzung -->
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        @Localizer["Question_Forgot_Password"] <a asp-controller="Account" asp-action="ResetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-primary m-l-5"><b>@Localizer["Link_Reset_Password"]</b></a>
                    </div>
                </div>

                <!-- Ausgeben des Registrieren-Buttons -->
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block waves-effect waves-light text-uppercase btn-rounded" type="submit">@Localizer["btn_Login"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Scripte für die Validierung hinzufügen -->
@section Scripts {
    <!--Custom JavaScript für Preloader -->
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
    </script>

    <!-- Custom JavaScript für Floating-Labels -->
    <script type="text/javascript">
        $('.floating-labels .form-control').on('focus blur', function (e) {
            $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
        }).trigger('blur');
    </script>
}
