@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h2>@Localizer["View_Title"]</h2>

@if (ViewBag.EMailNotFound)
{
    <h4>@Localizer["View_Description_Error_EMail_Not_Found"]</h4>
}
else if (ViewBag.EMailNotConfirmed)
{
    <h4>@Localizer["View_Description_Error_EMail_Not_Confirmed"] </h4>
}
else if (ViewBag.SecurityWrong)
{
    <h4>@Localizer["View_Description_Error_Security_Wrong"] </h4>
}
else
{
    <h4>@Localizer["View_Description_Error_General"]</h4>
}


