@using Microsoft.AspNetCore.Mvc.Localization

@model FamilieLaissIdentity.Models.Account.ResetPasswordRequestViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["View_Title"];
    FamilieLaissIdentity.ViewHelper.SecurityQuestionList SecurityQuestionSelectList = ViewBag.QuestionList;
}

<!-- Die spezifischen Styles für die aktuelle Seite einbinden -->
@section Styles {
    <link href="~/css/pages/login-register-lock.css" rel="stylesheet" />
    <link href="~/css/pages/floating-label.css" rel="stylesheet" />
}

<!-- ============================================================== -->
<!-- Preloader - Style befindet sich in spinners.css                -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Pro</p>
    </div>
</div>

<!-- ============================================================== -->
<!-- Ausgeben des Forumlars zum Anfordern der Passwortrücksetzung   -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image: url(/Images/Login_Register_Background_2.jpg)">
    <div class="login-box card">
        <div id="slimscroll_Login" class="card-body">
            <!-- Ausgeben der Überschrift-->
            <h3 class="text-center">@Localizer["View_Heading"]</h3>

            <!-- Ausgeben des Formulars -->
            <form id="formPasswordRequest" class="floating-labels m-t-40" asp-controller="Account" asp-action="ResetPasswordRequest" method="post">
                <!-- Anweisung als Alert ausgeben -->
                <div class="alert alert-info m-t-40 m-b-30">
                    @Localizer["Request_Instruction_Body"]
                </div>

                <!-- Ausgeben des Alerts für die allgemeinen Fehler-->
                @if (ViewData.ModelState.ContainsKey("UserNotFound") || ViewData.ModelState.ContainsKey("MailNotConfirmed") ||
                     ViewData.ModelState.ContainsKey("SecurityNotCorrect") || ViewData.ModelState.ContainsKey("Exception"))
                {
                    <div class="alert alert-danger m-b-30">
                        @if (ViewData.ModelState.ContainsKey("UserNotFound"))
                        {
                            @ViewData.ModelState["UserNotFound"].Errors.First().ErrorMessage;
                        }
                        @if (ViewData.ModelState.ContainsKey("MailNotConfirmed"))
                        {
                            @ViewData.ModelState["MailNotConfirmed"].Errors.First().ErrorMessage;
                        }
                        @if (ViewData.ModelState.ContainsKey("SecurityNotCorrect"))
                        {
                            @ViewData.ModelState["SecurityNotCorrect"].Errors.First().ErrorMessage;
                        }
                        @if (ViewData.ModelState.ContainsKey("Exception"))
                        {
                            @ViewData.ModelState["Exception"].Errors.First().ErrorMessage;
                        }
                    </div>
                }

                <!-- Eingabebereich für eMail -->
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Email"].Errors.Count > 0)
                {
                    <div class="form-group col-xs-12 m-b-30 has-danger has-error">
                        <input asp-for="Email" class="form-control" />
                        <span class="bar"></span>
                        <label asp-for="Email"></label>
                        <div class="form-control-feedback">@ViewData.ModelState["Email"].Errors.First().ErrorMessage</div>
                    </div>
                }
                else
                {
                    <div class="form-group col-xs-12 m-b-30">
                        <input asp-for="Email" class="form-control" />
                        <span class="bar"></span>
                        <label asp-for="Email"></label>
                    </div>
                }

                <!-- Eingabebereich für Sicherheitsfrage -->
                <div class="form-group col-xs-12 m-b-30">
                    <select asp-for="SecurityQuestion" asp-items="SecurityQuestionSelectList.QuestionList" class="form-control"></select>
                    <span class="bar"></span>
                    <label asp-for="SecurityQuestion"></label>
                </div>

                <!-- Eingabebereich für Sicherheitsantwort -->
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["SecurityAnswer"].Errors.Count > 0)
                {
                    <div class="form-group col-xs-12 m-b-30 has-danger has-error">
                        <input asp-for="SecurityAnswer" class="form-control" />
                        <span class="bar"></span>
                        <label asp-for="SecurityAnswer"></label>
                        <div class="form-control-feedback">@ViewData.ModelState["SecurityAnswer"].Errors.First().ErrorMessage</div>
                    </div>
                }
                else
                {
                    <div class="form-group col-xs-12 m-b-30">
                        <input asp-for="SecurityAnswer" class="form-control" />
                        <span class="bar"></span>
                        <label asp-for="SecurityAnswer"></label>
                    </div>
                }

                <!-- Ausgeben des Buttons -->
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block waves-effect waves-light text-uppercase btn-rounded" type="submit">@Localizer["btn_Change_Password"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Scripte für die Validierung hinzufügen -->
@section Scripts {
    <!--Custom JavaScript für Preloader -->
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
    </script>

    <!-- Custom JavaScript für Floating-Labels -->
    <script type="text/javascript">
        $('.floating-labels .form-control').on('focus blur', function (e) {
            $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
        }).trigger('blur');
    </script>
}