@using Microsoft.AspNetCore.Mvc.Localization

@model FamilieLaissIdentity.Models.MailGenerator.GenerateMailChangePasswordModel

@inject IViewLocalizer Localizer

@{
    Layout = "OneColumn_Layout.cshtml";

    LocalizedHtmlString Anrede_Prefix;

    if (Model.User.Gender == 1)
    {
        Anrede_Prefix = Localizer["Prefix_Male"];
    }
    else
    {
        Anrede_Prefix = Localizer["Prefix_Female"];
    }
}

<repeater>
    <layout label="Text only">
        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="w580" width="580">
                        <p align="left" class="article-title"><singleline label="Title">@Localizer["Header"]</singleline></p>
                        <div align="left" class="article-content">
                            <multiline label="Description">
                                <p>
                                    @Anrede_Prefix <b>@Model.User.FirstName @Model.User.FamilyName</b>,
                                </p>
                                <p>
                                    @Localizer["Information"]<br />
                                    <br />
                                    @Localizer["Link_Part_1"] <a href="@Model.URL_ChangePassword"> @Localizer["Link_Part_2"] </a>@Localizer["Link_Part_3"]
                                    <br />
                                    <br />
                                    @Localizer["Not_Reply"]
                                </p>
                            </multiline>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="w580" width="580" height="10"></td>
                </tr>
            </tbody>
        </table>
    </layout>
</repeater>

