@using Microsoft.AspNetCore.Mvc.Localization

@model FamilieLaissIdentity.Models.GenerateMailRegisterUserModel

@inject IViewLocalizer Localizer

@{
    Layout = "OneColumn_Layout.cshtml";

    LocalizedHtmlString Anrede_Prefix;

    if (Model.UserData.Gender == 1)
    {
        Anrede_Prefix = Localizer["Prefix_Male"];
    }
    else
    {
        Anrede_Prefix = Localizer["Prefix_Female"];
    }
}

<repeater>
    <layout label="Text only">
        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="w580" width="580">
                        <p align="left" class="article-title"><singleline label="Title">@Localizer["Header"]</singleline></p>
                        <div align="left" class="article-content">
                            <multiline label="Description">
                                <p>
                                    @Anrede_Prefix @Model.UserData.FirstName @Model.UserData.FamilyName,
                                </p>
                                <p>
                                    @Localizer["Registration_Successful"]<br />
                                </p>
                                <table>
                                    <tr>
                                        <td>@Localizer["UserName"]</td>
                                        <td><b>@Model.UserData.UserName</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["FirstName"]</td>
                                        <td><b>@Model.UserData.FirstName</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["FamilyName"]</td>
                                        <td><b>@Model.UserData.FamilyName</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["Street"]</td>
                                        <td><b>@Model.UserData.Street</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["Number"]</td>
                                        <td><b>@Model.UserData.Number</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["ZIP"]</td>
                                        <td><b>@Model.UserData.ZIP</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["City"]</td>
                                        <td><b>@Model.UserData.City</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["Country"]</td>
                                        <td><b>@Model.CountryList.CountryList.Single(x => x.Value == Model.UserData.Country).Text</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["Mail"]</td>
                                        <td><b>@Model.UserData.Email</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["SecurityQuestion"]</td>
                                        <td><b>@Model.SecurityQuestions.QuestionList.Single(x => x.Value == Model.UserData.SecurityQuestion).Text</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Localizer["SecurityAnswer"]</td>
                                        <td><b>@Model.UserData.SecurityAnswer</b></td>
                                        <td></td>
                                </table>
                                <p>
                                    <br />
                                    @Localizer["Information"]
                                    <br />
                                    <br />
                                    @Localizer["Link_1"] <a href="@Model.URL_Verification"> @Localizer["Link_2"] </a>@Localizer["Link_3"]
                                    <br />
                                    <br />
                                    @Localizer["Not_Reply"]
                                </p>
                            </multiline>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="w580" width="580" height="10"></td>
                </tr>
            </tbody>
        </table>
    </layout>
</repeater>
