@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        var user = Context.User;
        name = user?.FindFirst("name")?.Value;
    }
}
<!DOCTYPE html>
<html>
<head>
    <!-- Wichtige HTML5 Meta-Informationen -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Dem Browser beibringen das er ein responsive Verhalten in Bezug auf die Screen-Width haben soll -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Zusatzinformationen über die Beschreibung der Website und den Autor -->
    <meta name="description" content="Homepage for Family Laiss">
    <meta name="author" content="Michael Laiss">

    <!-- Setzen des Site-Name -->
    <title>@ViewData["Title"] - @Localizer["SiteName"]</title>


    <!-- Setzen des Icons für die Website -->
    @*<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">*@
    @*    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />*@

    <!-- Das Core-CSS für Bootstrap einbinden -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Einbinden des Core-Stylesheets für das AdminPro-Template -->
    <link href="~/css/style.css" rel="stylesheet" />

    <!-- Setzen der Theme - Color auf Light-Blue über das Einbinden des entsprechenden CSS aus AdminPro Template -->
    <link href="~/css/colors/blue.css" rel="stylesheet" />

    <!-- Zusätzliche Styles aus der aktuellen Razor-View rendern -->
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()

    <!-- Das Script für Jquery muss immer geladen werden -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <!-- Das Script für Bootstrap muss immer geladen werden -->
    <script src="~/vendor/bootstrap/js/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Das Script für den Wave-Effekt der Buttons laden -->
    <script src="~/js/waves.js"></script>

    <!-- Das Script für den Slimscroll -->
    <script src="~/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>

    <!-- Die Page spezifischen Scripte laden -->
    @RenderSection("scripts", required: false)
</body>
</html>
